body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(145deg, #0D324D, #7F5A83);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-form {
    background-color: #2C2C54;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.logo-container img {
    width: 100px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #191932;
    color: white;
}

button {
    background-color: #3B185F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

.register-link {
    color: #B9A1C9;
    font-size: 14px;
}

.register-link a {
    color: #CDB4DB;
    text-decoration: none;
}
.error {
    color: #FF647F;
    background-color: #FFC2D1;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
